<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parking Slots</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar">
    <h2>SmartParking</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Logout</a>
    </div>
</div>

<div class="card">
    <h2>Parking Slots</h2>

    <div class="slot free">A1</div>
    <div class="slot booked">A2</div>
    <div class="slot free">A3</div>
    <div class="slot booked">B1</div>
</div>

</body>
</html>
